*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
env/
venv/

db.sqlite3
*.log
*.pot
*.pyc
*.mo
media/
staticfiles/
*.sqlite3

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.egg
*.egg-info/
dist/
build/

*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py
